.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.NewGame {
  user-select: none;
  font-size: 40px;
  cursor: pointer;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 5px;
}

.Pin {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 3px;
}

.Game {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 390px;
  background-color: tomato;
  border-radius: 20px;
  margin-top: 20px;
}

.Board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 750px;
  padding: 5px;
  background-color: darkblue;
  border-radius: 20px;
}

.Palette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  padding: 10px;
}

.Palette .Circle {
  border: black 1px solid;
  cursor: pointer;
}

.Current .Circle {
  cursor: pointer;
}

.Answer .Circle {
  border: black 1px solid;
}

.Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.Guess {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.PinSlot:nth-of-type(odd) {
  align-self: flex-start;
}

.PinSlot {
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 7px;
  margin: 2px;
}

.Slot {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 20px;
  margin: 5px;
}

.Counter {
  color: silver;
  font-size: 30px;
  margin: 5px;
}

.Answer {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  height: 52px;
  border-radius: 15px;
}
